<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Bootstrap Icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../assets/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../assets/dist/css/bootstrap-utilities.min.css" rel="stylesheet">
        <link href="../../assets/dist/css/side-styles.css" rel="stylesheet">
        <link href="../../assets/dist/css/side-styles1.css" rel="stylesheet">
        
        <!-- Custom CSS -->
        <link href="../../assets/css/common.css" rel="stylesheet">
    </head>
    <body>
        <!-- Header Layout -->
        <div id="header-layout"></div>
        
        <!-- Page content-->
        <div class="container mt-5" id="main-content">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <!-- Post header-->
                <header class="col-lg-9 mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Welcome to Post Nature!</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on April 24, 2024 by Starflower</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light">Illustration</a>
                    <a class="badge bg-secondary text-decoration-none link-light">Freebies</a>
                </header>
                <!-- Side widgets-->
                <div class="col-lg-3">
                    <aside id="sidebar" class="sidebar mb-4">
                        <ul class="sidebar-nav" id="sidebar-nav">
                        </ul>
                    </aside><!-- End Sidebar-->
                </div>
                <div class="col-lg-9">
                    <!-- Post content-->
                    <article>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="../../assets/img/category/nature/a_cat_lying_on_the_grass.png" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <h2 class="fw-bolder mb-4 mt-5">[A cat lying on the grass]</h2>
                            <p class="fs-5 mb-4">
                                <span>이 작품은 </span>
                                <span class="font-weight-bold fw-bolder">빨간고래</span>님의 
                                <span>원본 그림을 바탕으로 제가 프로크리에이트라는 디지털 드로잉 프로그램을 사용하여 카피 연습을 진행한 결과물입니다.</span>
                            </p>
                            <p class="fs-5 mb-4">빨간고래님의 그림은 저에게 큰 영감을 주었으며, 그 특유의 스타일과 표현 방식을 더 깊이 이해하고 싶어서 이와 같은 연습을 시작하게 되었습니다.</p>
                            <p class="fs-5 mb-4">이를 통해 저는 더 다양한 시각에서 그림을 바라보고, 제 개인적인 스타일을 발전시키는 데 큰 도움을 받았습니다.</p>
                            <p class="fs-5 mb-4">빨간고래님의 그림을 카피하면서, 저는 무엇이 좋은 그림을 만드는지, 어떻게 감정과 메시지를 시각적으로 전달할 수 있는지에 대해 많은 것을 배웠습니다.</p>
                        </section>
                    </article>
                    <!-- Start Pagenation -->
                    <div class="pagination-body d-flex justify-content-center mb-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" id="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">&laquo;</a>
                                </li>
                                <li class="page-item" aria-current="page">
                                    <a class="page-link">random</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End Pagenation -->
                </div>
            </div>
        </div>

        <!-- Footer Layout -->
        <div id="footer-layout"></div>

        <!-- Layout JS -->
        <script src="../../assets/js/listLayout.js"></script>

    </body>
</html>
