<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="../../index.html">Starflower Illustration</a>
        <div class="d-flex justify-content-between">
            <a class="custom-toggle-sidebar-btn" href="javascript:void(0)">
                <span class="navbar-toggler-icon"></span>
                <!-- <i class="bi bi-list navbar-brand"></i> -->
            </a>
        </div>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            </ul>
        </div>
    </div>
</nav>